* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.4;
    background: #f3f3f3;

}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 2rem;
}


.header {
    background: #f3f3f3;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;

}

.navigation {
    margin-right: -15rem;
    width: 50%;

}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.main {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    height: 140vh;
}

.place-holder-main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.block {
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    background: white;
}

.hero {
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1525548002014-e18135d814d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4050&q=80);
    background-repeat: no-repeat;
    background-position: -3rem;
    background-size: cover;
    color: grey;
    background-color: black;
}

.hero h1, .hero h2, .hero p {
    padding-left: 2rem;
    color: white;
}

.hero h1:hover, .hero h2:hover, .hero p:hover {
    text-decoration: underline;
}

.tips {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    color: white;
}

.tips h1, .tips h2 {
    padding-left: 1rem;
}

.featured {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.top-stories {
    grid-column: span 1;
    grid-row: span 2;
}

.most-recent {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.special-edition {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url(https://images.unsplash.com/photo-1493497029755-f49c8e9a8bbe?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=300&fit=crop&ixid=eyJhcHBfaWQiOjF9&flip=h);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}

.placeholder-special-edition {
    width: 45%;
    padding-left: 1rem;
    color: white;
}

.placeholder-special-edition a {
    text-decoration: none;
    color: white;
}

footer {
    display: grid;
    justify-content: center;
}